{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "rule-empty-line-before": null,
    "no-descending-specificity": null,
    "color-function-notation": null,
    "at-rule-empty-line-before": null,
    "comment-empty-line-before": null
  },
  "customSyntax": "postcss-styled-syntax"
}
